// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.posts_index {
  #main {
    #brand {
      font-size: 40px;
    }
    .post {
      &:last-child {
        border-bottom: 0px;
      }
      border-bottom: 1px solid #CCC;
      min-height: 100px;
      padding: 40px 0 40px 40px;
      background: #FFF;
      .post-time {
        font-style: italic;
      }
      .post-title {
        font-size: 20px;
      }
      .post-content {
        margin-top: 10px;
      }
    }
  }
}

.posts_show {
  #main {
    #top-info {
      padding: 20px 0 20px 40px;
    }
    #comments {
      margin-top: 40px;
      padding: 20px;
      border-top: 1px solid #CCC;
    }
    #post-body {
      padding: 20px 40px;
      #post-title {
        margin-bottom: 20px;
      }
    }
  }
}